<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.online.dao.GroupMapper">
  <resultMap id="BaseResultMap" type="com.yl.online.entity.Group">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="creator" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="groupName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="creatTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, creator, groupName, creatTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from group_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getByCreator" resultType="com.yl.online.entity.Group">
    select * from group_table where creator=#{creator}
  </select>
    <select id="getById" resultType="com.yl.online.entity.Group">
      select
      <include refid="Base_Column_List" />
      from group_table
      where id=#{id}
    </select>
  <select id="getByGroupIdUserId" resultType="java.lang.Integer">
    select count(1) from group_table where id=#{id} and creator=#{creator}
  </select>
    <select id="getGroupId" resultType="com.yl.online.entity.Group">
      select * from group_table where creator=#{creator}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from group_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yl.online.entity.Group">
    insert into group_table (id, creator, groupName, 
      creatTime)
    values (#{id,jdbcType=INTEGER}, #{creator,jdbcType=INTEGER}, #{groupname,jdbcType=VARCHAR}, 
      #{creattime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yl.online.entity.Group">
    insert into group_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="groupname != null">
        groupName,
      </if>
      <if test="creattime != null">
        creatTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yl.online.entity.Group">
    update group_table
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="groupname != null">
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null">
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yl.online.entity.Group">
    update group_table
    set creator = #{creator,jdbcType=INTEGER},
      groupName = #{groupname,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateGroupNameById">
      update group_table
      set groupName=#{groupname}
      where id=#{id}
    </update>
</mapper>