<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.online.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yl.online.entity.User">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userNumber" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userPass" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="campuse" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="profession" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="auth" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, userNumber, userPass, sex, campuse, profession, auth
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getByNP" resultType="com.yl.online.entity.User">
    select * from user_table where userNumber=#{usernumber} and userpass=#{userpass}
  </select>
  <select id="isExsitUser" resultType="java.lang.Integer">
    select count(1) from user_table where userNumber=#{usernumber}
  </select>
  <select id="getUserList" resultType="com.yl.online.entity.User">
    select * from user_table where auth=#{auth}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yl.online.entity.User">
    insert into user_table (id, userName, userNumber, 
      userPass, sex, campuse, 
      profession, auth)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{usernumber,jdbcType=VARCHAR}, 
      #{userpass,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{campuse,jdbcType=VARCHAR}, 
      #{profession,jdbcType=VARCHAR}, #{auth,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yl.online.entity.User">
    insert into user_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="usernumber != null">
        userNumber,
      </if>
      <if test="userpass != null">
        userPass,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="campuse != null">
        campuse,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="auth != null">
        auth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usernumber != null">
        #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null">
        #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="campuse != null">
        #{campuse,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="auth != null">
        #{auth,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yl.online.entity.User">
    update user_table
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usernumber != null">
        userNumber = #{usernumber,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null">
        userPass = #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="campuse != null">
        campuse = #{campuse,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="auth != null">
        auth = #{auth,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yl.online.entity.User">
    update user_table
    set userName = #{username,jdbcType=VARCHAR},
      userNumber = #{usernumber,jdbcType=VARCHAR},
      userPass = #{userpass,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      campuse = #{campuse,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      auth = #{auth,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>